APP_NAME=SRS
NEXT_PUBLIC_APP_NAME=SRS
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://srs:srs@127.0.0.1:5439/srs?schema=public
AUTH_PROVIDER=ldap
LDAP_URL=ldap://127.0.0.1:3890
LDAP_BIND_DN=cn=admin,dc=ems,dc=local
LDAP_BIND_PASSWORD=admin
LDAP_BASE_DN=dc=ems,dc=local
LDAP_USER_BASE_DN=ou=people,dc=ems,dc=local
LDAP_GROUP_BASE_DN=ou=groups,dc=ems,dc=local
LDAP_DIRECT_BIND=false
ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_AUTH_PROVIDER=ldap
NEXT_PUBLIC_ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_ENABLE_LDAP_DEBUG=false
WRITE_RATE_LIMIT=90
WRITE_RATE_WINDOW_MS=60000
