APP_NAME=SRS
NEXT_PUBLIC_APP_NAME=SRS
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://srs:srs@127.0.0.1:5439/srs?schema=public
AUTH_PROVIDER=mock
NEXT_PUBLIC_AUTH_PROVIDER=mock
ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_ENABLE_LDAP_DEBUG=false
APP_ENCRYPTION_KEY=change-me-32-bytes-minimum
