APP_NAME=WMS
NEXT_PUBLIC_APP_NAME=WMS
NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://wms:wms@prod-db:5432/wms?schema=public

AUTH_PROVIDER=ldap
NEXT_PUBLIC_AUTH_PROVIDER=ldap
LDAP_URL=ldap://prod-ldap:389
LDAP_BIND_DN=cn=service_bind,ou=system,dc=enterprise,dc=local
LDAP_BIND_PASSWORD=SET_FROM_SECRET_MANAGER
LDAP_BASE_DN=dc=enterprise,dc=local
LDAP_USER_BASE_DN=ou=people,dc=enterprise,dc=local
LDAP_GROUP_BASE_DN=ou=groups,dc=enterprise,dc=local

EPS_API_BASE_URL=https://eps.internal/api
EPS_API_TOKEN=SET_FROM_SECRET_MANAGER
EPS_API_TIMEOUT_MS=15000

MMS_API_BASE_URL=https://mms.internal/api
MMS_API_TIMEOUT_MS=15000

ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_ENABLE_DEBUG_AUTH_ROUTES=false
NEXT_PUBLIC_ENABLE_LDAP_DEBUG=false
